
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand text-light" asp-area="" asp-page="/Index">Orders dashboard</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex flex-sm-row-reverse" @onclick="CollapseNavMenu">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-light" href="" Match="NavLinkMatch.All">Home</a>
                </li>
                @*<li class="nav-item">
                    <a class="nav-link text-light" href="diagramm">Diagramm</a>
                </li>*@
                <li class="nav-item">
                    <a class="nav-link text-light" href="counter">Counter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="fetchdata">Fetch data</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style>
    @@media (min-width:400px) {
        nav {
            position: fixed !important;
        }
    }

    .bg-primary {
        background:#072263 !important
    }

    nav {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
</style>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void CollapseNavMenu()
    {
        collapseNavMenu = true;
    }
}
